{% include 'header.html' %}
{% include 'navigation.html' %}
{% include 'datatables.html' %}

<script type="text/javascript">
$(document).ready( function() {
    $('#table').DataTable( { "iDisplayLength":100, "order": [[1, "desc" ]]  } ); } )
</script>

<div class="container-fluid">
        <div class="col-md-2">
            <font face="monospace">
            <dl>
                <dt>Oldest record</dt>
                <dd>{{ oldest_record }}</dd>
                <dt>Days stored</dt>
                <dd>{{ days_stored }}</dd>
                {% if filter_option %}
                    {# Losses #}
                    <dt>Total unique ships used</dt>
                    <dd>{{ ships_lost.values()|length }}</dd>
                    <dt>Total ships used</dt>
                    <dd>{{ total_ships_lost }}</dd>
                {% else %}
                    {# Kills #}
                    <dt>Total unique ships lost</dt>
                    <dd>{{ ships_lost.values()|length }}</dt>
                    <dt>Total ships lost</dt>
                    <dd>{{ total_ships_lost }}</dd>
                {% endif %}
            </dl>
            <br>

        </div>
        

        <div class="col-md-3">

            <form role="form" action="{{ url_for('stats_ships') }}" id="submit_query">
                <div class="form-group">
                    <label for="days">Days in the past</label>
                    {% if days %}
                        <input type="text" class="form-control" id="days"  name="days" value={{ days }}>
                    {% else %}
                        <input type="text" class="form-control" id="days"  name="days">
                    {% endif %}
                    
                    <br>
                    <label for="character">Character</label>
                        {% if character %}
                            <input type="text" class="form-control" id="character"  name="character" value="{{ character }}">
                        {% else %}
                            <input type="text" class="form-control" id="character"  name="character" value="all">
                        {% endif %}
                    <br>

                    <label for="coalition">Coalition or Alliance</label>
                        <select class="form-control" id="coalition" name="coalition">
                            {% for c in config_coalitions %}
                                {% if c == coalition %}
                                    <option value="{{ c }}" selected>{{ c }}</option>
                                {% else %}
                                    <option value="{{ c }}">{{ c }}</option>
                                {% endif %}
                            {% endfor %}
                    </select>

                    <div class="radio">
                        <label>
                        <input type="radio" name="filter_option" id="filter_option" value="used" {% if filter_option == 'used' %} checked {% endif %}>
                         Ship used 
                        </label>

                        <label>
                        <input type="radio" name="filter_option" id="filter_option" value="lost" {% if filter_option == 'lost' %} checked {% endif %}>
                        Ship lost 
                        </label>
                    </div>  
                </div>
                    <button type="submit" class="btn btn-default" value="submit">Update</button>
            </form>
            </font>
        </div>

        <div class="col-md-12">
                <br>
                <br>

                <table class="display" cellspacing="0" width="100%" id="table">
                    <thead>
                        <tr>
                            {% if filter_option %}
                                <th class="text-left">Ship Used</th>
                            {% else %}
                                <th class="text-left">Ship Lost</th>
                            {% endif %}
                            <th >Quantity</th>
                            <th >Usage</th>
                        </tr>
                            
                    </thead>
                    <tbody>
                    {% for ship in ships_lost %}
                    <tr>
                        {% if character %}
                        <td ><a href="{{ url_for('stats_ships_details', filter_option=filter_option, coalition=coalition, days=days, ship=ship, character=character) }} ">{{ ship }}</a> </td>
                        {% else %}
                        <td><a href="{{ url_for('stats_ships_details', filter_option=filter_option, coalition=coalition, days=days, ship=ship) }} ">{{ ship }}</a> </td>
                        {% endif %}
                        <td> {{ ships_lost[ship] }} </td>
                        <td> {{ (100 * ships_lost[ship]/total_ships_lost)|format_currency }}%</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
